---
import PostForm from "../components/PostForm";
import "./index.css";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My App</title></head
  >
  <body>
    <h1 class="flex justify-center text-3xl mt-5 font-mono font-bold">Scheduler App</h1>

    <PostForm client:only />
  </body>
</html>
