---
import PostList from "../components/PostList";
import "./index.css";
---

<html>
  <head> </head>
  <body>
    <h1 class="flex justify-center text-3xl mt-5 font-mono font-bold">Scheduler App</h1>

    <PostList client:only />
  </body>
</html>
